name: Deploy to Server

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Deploy

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to server
        env:
          REPO_URL: ${{ github.server_url }}/${{ github.repository }}.git
          BRANCH: ${{ github.ref_name }}
        run: |
          ssh app@ssh-cumin.kapochamo.com "cd /home/app/gin && git pull origin main && /home/app/.local/share/pnpm/pm2 reload gin"
